.home-container {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
    border: 2px solid rgb(15, 15, 15);

}


* {
  box-sizing: border-box;
}

.scrollable-grid {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 220px); /* adjust based on header + category + footer height */
  padding-bottom: 1rem;
}