.home{
    width:100%;
    min-height: 100vh;
    background-color: #BABABA;
    display: flex;
}

.content{
    flex:1;
    margin-left: 70px;
   min-height: 100vh;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #BABABA;
}